 * {
	margin: 0;
	padding: 0;
}
body { 
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    }

.banner-text {
	width: 100%;
    min-height: 30em;
	position: absolute;
	z-index: 1;
}
.t1{
	font-size: 300px;
}

.button{position:relative;padding:1em 1.5em;border:none;background-color:transparent;cursor:pointer;outline:0;font-size:18px;margin:1em .8em}
.button.type4{color:#ffffff}
.button.type4.type4::after,.button.type4.type4::before{content:"";display:block;position:absolute;width:20%;height:20%;border:2px solid;transition:all .6s ease;border-radius:2px}
.button.type4.type4::after{bottom:0;right:0;border-color:transparent #9715be #9715be transparent}
.button.type4.type4::before{top:0;left:0;border-color:#0829be transparent transparent #0829be}
.button.type4.type4:hover:after,.button.type4.type4:hover:before{width:100%;height:100%}

.button.type5{color:#ffffff}
.button.type5.type5::after,.button.type5.type5::before{content:"";display:block;position:absolute;width:20%;height:20%;border:2px solid;transition:all .6s ease;border-radius:2px}
.button.type5.type5::after{bottom:0;right:0;border-color:transparent #0829be #0829be transparent}
.button.type5.type5::before{top:0;left:0;border-color:#0ebe08 transparent transparent #0ebe08}
.button.type5.type5:hover:after,.button.type5.type5:hover:before{border-color:#9715be;width:100%;height:100%}
.banner-text ul

{
	height: 50px;
	float: left;
    
}



a{
	margin-top: 30px;
}






.banner-text ul li {
	display: inline-block;
	padding: 40px 15px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-size: 100px;
}
.banner-text ul li:hover {
	cursor: pointer;
}
.banner-text h2 {
	text-align: center;
	color: #fff;
	font-size: 120px;
	margin-top: 45px;
}
.animation-area {
	background: linear-gradient(to right, #7a1772, #bb430c);
	width: 100%;
	height: 50vh;
    
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: initial;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	top: 320px;
	bottom: -100;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	animation-duration: 30s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 30s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
	animation-duration: 30s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 30s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 2.5s;
	animation-duration: 30s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
	animation-duration: 30s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}





.d0 {
	font-size: 20px;
	margin-top: 520px;
	
	margin-right: 135px;
	width: 730px;
    height: 730px;
    border-radius: 730px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-left: 100px;
    text-align: center;
    transition: all 0.25s;
    background: linear-gradient(to left, #811685, #6216a0);
	transform: translateY(-15px);
    box-shadow: 0px 12px 16px  #3113b4;
	
	}
.d0 img{
	width: 100%;
	height: 60%;
}
.p0{
	margin-top: 40px;
	margin-bottom: 15px;
	padding: 2px;
	margin-left: 100px;
	margin-right: 100px;
	color: rgb(255, 255, 255);
}



.d2 {
	font-size: 20px;
	margin-top: 120px;
	
	
	width: 730px;
    height: 730px;
    border-radius: 730px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-left: 1000px;
    text-align: center;
    transition: all 0.25s;
    background: linear-gradient(to left, #811685, #6216a0);
	transform: translateY(-15px);
    box-shadow: 0px 12px 16px  #3113b4;
	
	}
.d2 img{
	width: 100%;
	height: 60%;
}
.p2{
	margin-top: 30px;
	margin-bottom: 15px;
	padding: 2px;
	margin-left: 100px;
	margin-right: 100px;
	color: rgb(255, 255, 255);
}

.d3 {
	font-size: 20px;
	margin-top: 120px;
	
	margin-right: 135px;
	width: 730px;
    height: 730px;
    border-radius: 730px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-left: 100px;
    text-align: center;
    transition: all 0.25s;
    background: linear-gradient(to left, #811685, #6216a0);
	transform: translateY(-15px);
    box-shadow: 0px 12px 16px  #3113b4;
	margin-bottom: 35px;
	
	}
.d3 img{
	width: 100%;
	height: 60%;
}

.p3{
	margin-top: 40px;
	margin-bottom: 15px;
	padding: 2px;
	margin-left: 100px;
	margin-right: 100px;
	color: rgb(255, 255, 255);
}

.b8{
	background-color: rgb(30, 62, 109);
	

    
} 
hr{
	width: 40%;
	height: 1px;
	margin-left: 600px;
	border-color: black;
}